{% extends 'base.html' %}

{% load static %}

{% block title %}Page Title{% endblock %}

{% block content %}

<!-- WELCOME TO VITALOG SECTION -->
<section>  
<div class="container">
    <div class="row justify-content-center align-items-center mt-5 mb-5">
        <div class="col-md-6">
            <div class="text-lg">
                <h1 class="text-deepBlue">Welcome to <span class="text-deepGreen">VitaloG</span></h1>
                <h1 class="text-deepBlue">Your Health Journey</h1>
                <h1 class="text-deepBlue">Our Community</h1>
            </div>
            <p>Health challenges can be overwhelming, and no one should navigate them alone.</p>
            <a href="{% url 'waitlist:join' %}" class="btn btn-success">Join our waitlist</a> 
            <hr class="d-md-none">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center position-relative" >
            <div class="position-absolute w-100 h-100"></div>
            <img src="{% static 'img/community.png' %}" alt="people" class="img-fluid" style="color:transparent">
        </div>
    </div>
</div>
</section>

<!--CUSTOMER TESTIMONIAL SECTION 1-->
<section class="bg-myGreen">
    <div class="container">
        <div class="px-md-5 px-3 text-center py-7">
            <br>
            <p class="text-sm text-myGray font-semibold">
                “At Vitalog, we tackle the isolation often felt in health challenges, acknowledging the vital necessity for support. Our solution transforms solitary patient journeys into a shared community experience, providing connection, understanding, and collective strength. We created a transformative platform, blending cutting-edge features to ensure you have the support you need every step of the way.”
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h2 class="text-center">Their Words, Our Inspiration.</h2>
            </div>
        </div>
        <br>
</section>

<!--CUSTOMER TESTIMONIAL SECTION 2-->
<section class="bg-myGreen">
    <div class="container">
        <!-- Carousel for Small Screens -->
        <div class="d-md-none">
            <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Card 1 -->
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="front">
                                <img src="{% static 'img/person1.png' %}" alt="" class="img-fluid pb-4">
                                <h2 class="text-center">Anne C</h2>
                            </div>
                            <div class="back">
                                <div class="back-content">
                                    <h2 class="text-center">My Story</h2>
                                    <p class="text-center testimonial">When I was first diagnosed with my condition, I felt incredibly isolated. I didn't know anyone who truly understood what I was going through. Then I found VitaloG. Through their support groups, I've met so many wonderful people who share my experiences. It's not just about the advice and tips; it's about the emotional support and friendship. VitaloG has truly transformed my journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front">
                                <img src="{% static 'img/person2.png' %}" alt="" class="img-fluid pb-4">
                                <h2 class="text-center">Martha S</h2>
                            </div>
                            <div class="back">
                                <div class="back-content">
                                    <h2 class="text-center">My Story</h2>
                                    <p class="text-center testimonial">Managing my health condition was a daily struggle until I joined VitaloG. The community here is so supportive and encouraging. I've attended virtual support group sessions that have given me insights and strength I never thought possible. With the help of professional guidance and peer support, I feel more confident and less alone. VitaloG has made a significant difference in my life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front">
                                <img src="{% static 'img/person3.png' %}" alt="" class="img-fluid pb-4">
                                <h2 class="text-center">John D</h2>
                            </div>
                            <div class="back">
                                <div class="back-content">
                                    <h2 class="text-center">My Story</h2>
                                    <p class="text-center testimonial">Dealing with a chronic illness can be very isolating, but VitaloG changed that for me. I connected with others who understood my challenges and shared their experiences. The platform's virtual chat rooms and support groups provided me with a sense of community that I desperately needed. VitaloG isn't just a support system; it's a lifeline that offers hope and solidarity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="front">
                                <img src="{% static 'img/person4.png' %}" alt="" class="img-fluid pb-4">
                                <h2 class="text-center">Mark L</h2>
                            </div>
                            <div class="back">
                                <div class="back-content">
                                    <h2 class="text-center">My Story</h2>
                                    <p class="text-center testimonial">As a healthcare professional, I've seen many patients struggle with the emotional toll of their health journeys. VitaloG offers a unique solution by connecting patients with each other and with professionals like myself. I've been able to provide guidance and support to those in need, and in return, I've gained a deeper understanding of their experiences. VitaloG is revolutionizing how we approach healthcare support.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Cards on Medium and Large Screens -->
        <div class="d-none d-md-block">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="front">
                            <img src="{% static 'img/person1.png' %}" alt="" class="img-fluid pb-4">
                            <h2 class="text-center">Anne C</h2>
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h2 class="text-center">My Story</h2>
                                <p class="text-center testimonial">When I was first diagnosed with my condition, I felt incredibly isolated. I didn't know anyone who truly understood what I was going through. Then I found VitaloG. Through their support groups, I've met so many wonderful people who share my experiences. It's not just about the advice and tips; it's about the emotional support and friendship. VitaloG has truly transformed my journey.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="front">
                            <img src="{% static 'img/person2.png' %}" alt="" class="img-fluid pb-4">
                            <h2 class="text-center">Martha S</h2>
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h2 class="text-center">My Story</h2>
                                <p class="text-center testimonial">Managing my health condition was a daily struggle until I joined VitaloG. The community here is so supportive and encouraging. I've attended virtual support group sessions that have given me insights and strength I never thought possible. With the help of professional guidance and peer support, I feel more confident and less alone. VitaloG has made a significant difference in my life.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="front">
                            <img src="{% static 'img/person3.png' %}" alt="" class="img-fluid pb-4">
                            <h2 class="text-center">John D</h2>
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h2 class="text-center">My Story</h2>
                                <p class="text-center testimonial">Dealing with a chronic illness can be very isolating, but VitaloG changed that for me. I connected with others who understood my challenges and shared their experiences. The platform's virtual chat rooms and support groups provided me with a sense of community that I desperately needed. VitaloG isn't just a support system; it's a lifeline that offers hope and solidarity</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="front">
                            <img src="{% static 'img/person4.png' %}" alt="" class="img-fluid pb-4">
                            <h2 class="text-center">Mark L</h2>
                        </div>
                        <div class="back">
                            <div class="back-content">
                                <h2 class="text-center">My Story</h2>
                                <p class="text-center testimonial">As a healthcare professional, I've seen many patients struggle with the emotional toll of their health journeys. VitaloG offers a unique solution by connecting patients with each other and with professionals like myself. I've been able to provide guidance and support to those in need, and in return, I've gained a deeper understanding of their experiences. VitaloG is revolutionizing how we approach healthcare support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   

<!-- WHY VITALOG SECTION -->
<section class="bg-myBrown">
    <div class="container-fluid">
        <br>
        <div class="text-center">
            <h1 class="text-deepBlue">Why
                <span class="text-deepGreen">VitaloG?</span>
            </h1>
        </div>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 mb-4">
                <img src="{% static 'img/people.png' %}" alt="people" class="img-fluid rounded-2xl">
            </div>
            <div class="col-md-6">
                <div class="row">
                    
                    <div class="col-md-10 mb-4 col-sm-12 why-vitalog" style="background-color: #d3303065;">
                        <br>
                        <img src="{% static 'img/icon1.png' %}" alt="icon" class="img-fluid">
                        <h2 class="text-deepBlue font-bold mt-4">Empowering Community Support</h2>
                        <p class="text-myBlack text-justify mt-4">Join a resilient community of individuals on similar health journeys. Vitalog provides a diverse ecosystem of verified health professionals and empathetic peers, fostering a sense of belonging and support.</p>
                    </div>
                    
                    <div class="col-md-10 mb-4 col-sm-12 why-vitalog" style="background-color: rgb(176 224 230)">
                        <br>
                        <img src="{% static 'img/icon2.png' %}" alt="icon" class="img-fluid text-center">
                        <h2 class="text-deepBlue font-bold mt-4">Virtual Support Groups and Dedicated Chat Rooms</h2>
                        <p class="text-myBlack text-justify mt-4">Engage in open dialogue and shared experiences through our virtual support groups and dedicated chat rooms. Connect with others facing similar challenges, exchange ideas, and find encouragement in a safe and inclusive space.</p>
                    </div>
                    
                    <div class="col-md-10 mb-4 col-sm-12 why-vitalog" style="background-color: #72555075">
                        <br>
                        <img src="{% static 'img/icon3.png' %}" alt="icon" class="img-fluid">
                        <h2 class="text-deepBlue font-bold mt-4">Verified Health Professionals</h2>
                        <p class="text-myBlack text-justify mt-4">Access personalized guidance from verified health professionals. Vitalog connects you with experts who can provide tailored advice through private consultations, ensuring you make informed decisions about your health.</p>
                    </div>
                   
                    <div class="col-md-10 mb-4 col-sm-12 why-vitalog" style="background-color: #0e98ba80">
                        <br>
                        <img src="{% static 'img/icon4.png' %}" alt="icon" class="img-fluid">
                        <h2 class="text-deepBlue font-bold mt-4">Informed Decision-Making</h2>
                        <p class="text-myBlack text-justify mt-4">Navigate your health journey with confidence. Vitalog combines accurate information, peer support, and professional guidance to empower you with the knowledge needed to make informed decisions.</p>
                    </div>
                    
                    <div class="col-md-10 mb-4 col-sm-12 why-vitalog" style="background-color: #c17d4380">
                        <br>
                        <img src="{% static 'img/icon5.png' %}" alt="icon" class="img-fluid">
                        <h2 class="text-deepBlue font-bold mt-4">Revolutionizing Healthcare Engagement</h2>
                        <p class="text-myBlack text-justify mt-4">We're not just a platform; we're a movement. Vitalog transforms the healthcare experience, making it a collaborative journey where you are understood, supported, and connected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<!-- BENEFITS OF VITALOG SECTION -->
<section class="bg-myGreen">
    <div class="container-fluid">
        <br>
        <div class="text-center">
            <h1 class="text-deepBlue">Unlock the Benefits of VitaloG:
                <span class="text-deepGreen">A Health Journey Revolution</span>
            </h1>
            <p>At VitaloG, our platform is designed to empower a diverse range of individuals and organizations committed to the well-being of others. Here's how VitaloG caters to different needs.</p>
        </div>
        <br>

        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="why-vitalog" style="background-color: #ff4e6444">
                        <br>
                        <img src="{% static 'img/gameIcon.png' %}" alt="icon" class="img-fluid" style="max-width: 50px;">
                        <h2 class="text-deepBlue font-bold mt-4">Patients Seeking Support</h2>
                        <p class="text-myBlack text-justify mt-4">Embark on your health journey with a strong support system. VitaloG offers a nurturing community where individuals facing health challenges can connect, share experiences, and find encouragement.</p>
                        <div class="text-center">
                            <a href="{% url 'waitlist:join' %}">
                                <button class="bg-white py-2 px-4 shadow text-deepGreen" style="border-radius: 7.5px;">Get Support</button>
                            </a>
                        </div>
                    </div>
            
                    <div class="why-vitalog" style="background-color: #b3804aa3">
                        <br>
                        <img src="{% static 'img/crossIcon.png' %}" alt="icon" class="img-fluid" style="max-width: 50px;">
                        <h2 class="text-deepBlue font-bold mt-4">Health Professionals Ready to Provide Help</h2>
                        <p class="text-myBlack text-justify mt-4">Are you a healthcare professional eager to make a difference? VitaloG provides a platform for verified health professionals to offer private consultations, extending personalized guidance to those in need.</p>
                        <div class="text-center md:pb-6 md:text-left">
                            <a href="{% url 'waitlist:join' %}">
                                <button class="bg-white py-2 px-4 shadow text-deepGreen" style="border-radius: 7.5px;">Pre-Register</button>
                            </a>
                        </div>
                    </div>
            
                    <div class="why-vitalog" style="background-color: #5c33cf44;">
                        <br>
                        <img src="{% static 'img/arrowIcon.png' %}" alt="icon" class="img-fluid" style="max-width: 50px;">
                        <h2 class="text-deepBlue font-bold mt-4">Organizations Dedicated to Health Causes</h2>
                        <p class="text-myBlack text-justify mt-4">For organizations devoted to health causes, VitaloG opens doors to a dynamic pool of members. Connect with a diverse community, spread awareness, and collaborate to make a collective impact on the well-being of individuals worldwide.</p>
                        <div class="text-center md:pb-6 md:text-left">
                            <a href="{% url 'waitlist:join' %}">
                                <button class="bg-white py-2 px-4 shadow text-deepGreen" style="border-radius: 7.5px;">Pre-Register</button>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            
            <div class="col-md-6 mb-4">
                <img src="{% static 'img/people2.png' %}" alt="people" class="img-fluid rounded-2xl">
            </div>
        </div>
    </div>
</section>



<!--FAQ SECTION-->
<section id="faq-section" class="bg-myBrown">
    <div class="container-fluid py-8">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <h1>Frequently asked <br> Questions</h1>
                <p class="text-sm"> Can't find what you're looking for? <br> Explore our FAQs or contact us for further assistance.</p>
                <img src="{% static 'img/man.png' %}" alt="people" class="img-fluid rounded-2xl">
            </div>
            <div class="col-md-6 align-items-center">
                <div class="row">
                    <div class="col-md-10 mb-4">
                        <h2 class="text-deepBlue font-bold mt-4">What is VitaloG</h2>
                        <div class="text-myBlack text-justify mt-4 toggleText" data-id="toggleText1">
                            <p>VitaloG is a friendly health community where people facing health challenges come together. Through virtual support groups, chat rooms, and access to verified professionals, it helps build connections and strength. With accurate information and friendly support.</p>
                            <div class="additional-content" style="display: none;">
                                <p>VitaloG helps you make better health choices. Join our community today and feel supported on your health journey.</p>
                            </div>
                            <p class="more">Read more</p>
                        </div>
                    </div>
                    <div class="col-md-10 mb-4">
                        <h2 class="text-deepBlue font-bold mt-4">How does it work</h2>
                        <div class="text-myBlack text-justify mt-4 toggleText" data-id="toggleText2">
                            <p>VitaloG works by allowing users to sign up and gain access to a supportive community of individuals facing similar health challenges. Within this community, users can connect with others, access verified information, and receive support from professionals. </p>
                            <div class="additional-content" style="display: none;">
                                <p>By facilitating these connections and resources, Vitalog aims to combat feelings of isolation and loneliness, fostering a sense of belonging and empowerment among its users.</p>
                            </div>
                            <p class="more">Read more</p>
                        </div>
                    </div>
                    <div class="col-md-10 mb-4">
                        <h2 class="text-deepBlue font-bold mt-4">How will you handle my medical details</h2>
                        <div class="text-myBlack text-justify mt-4 toggleText" data-id="toggleText3">
                            <p>We take the privacy and security of your medical details seriously at Vitalog, adhering to globally accepted standards to ensure your information is safeguarded. Our approach involves implementing robust encryption protocols to protect data both in transit and at rest. Additionally, we strictly adhere to regulations such as HIPAA (Health Insurance Portability and Accountability Act) and GDPR (General Data Protection Regulation), ensuring that your medical information is handled with the utmost confidentiality and transparency.</p>
                            <div class="additional-content" style="display: none;">
                                <p> Our platform is designed with privacy-enhancing features, granting you control over your data and enabling you to manage consent preferences. Rest assured that your medical details are treated with the highest level of care and security on Vitalog.</p>
                            </div>
                            <p class="more">Read more</p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center px-4">Join VitaloG today! Register with your email to access exclusive benefits at launch <br> and ensure you're the first to know when we go live. Your community awaits.</h2>
            <br>
            <div class="text-center"> <!-- Added this div to center the link -->
                <a class="btn btn-success align-items-center" href="{% url 'waitlist:join' %}">Join Our Waitlist</a>
            </div>
        </div>
        
        <br>
    </div> 
</section>



{% endblock %}