{% extends 'base.html' %}

{% load static %}

{% block title %}Page Title{% endblock %}

{% block content %}

<br>
<section>
    <div class="container">
        <h1 class="text-deepBlue">Privacy Policy</h1>
        <p>Vitalog is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website.</p>
        <h2>Information We Collect</h2>
        <p><strong>Personal Information</strong>: We may collect personal information such as your name, email address, and payment information when you register on our site or make a purchase.</p>
        <p><strong>Non-Personal Information</strong>: We may collect non-personal information such as your browser type, IP address, and pages visited.</p>
        <h2>How We Use Your Information</h2>
        <p>We use the information we collect to:
            <ul>
                <li>Provide, operate, and maintain our website</li>
                <li>Improve our website and services</li>
                <li>Process transactions</li>
                <li>Communicate with you</li>
                <li>Protect against fraud and abuse</li>
            </ul>
        </p>
        <h2>Sharing Your Information</h2>
        <p>We do not sell or rent your personal information to third parties. We may share your information with:
            <ul>
                <li>Service providers who assist us in operating our website and conducting our business</li>
                <li>Law enforcement or regulatory agencies if required by law</li>
            </ul>
        </p>
        <h2>Security</h2>
        <p>We use administrative, technical, and physical security measures to protect your personal information. However, no method of transmission over the Internet or method of <br> electronic storage is 100% secure.</p>
        <h2>Your Choices</h2>
        <p>You may choose to:
            <ul>
                <li>Access and update your personal information</li>
                <li>Opt-out of receiving promotional communications from us</li>
            </ul>
        </p>
        <h2>Changes to This Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time. The most current version will always be posted on our website. Your continued use of Vitalog after any changes to this <br> Privacy Policy will constitute your acknowledgment of the changes and your consent to abide by them.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at <strong>community.vitalog@gmail.com</strong>.</p>
    </div>
</section>

{% endblock %}