{% extends 'base.html' %}
{% load static %}


{% block title %}Page Title{% endblock %}

{% block content %}
<!-- ################# Our Blog Starts Here ####################### -->
<section class="our-blog">
    <div class="container">
        <div class="row session-title">
            <h2>Our Blog</h2>
            <p>Explore our Educational Blog Posts</p>
        </div>
        <div class="blog-row row">
            {% for post in posts %}
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        {% if "placeholder" in post.image.url %}
                        <img src="https://res.cloudinary.com/dezgpatyj/image/upload/v1688422406/blog_02_e9po0t.jpg" alt="default-image" style="max-width: 100%; height: auto;">
                        {% else %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
                        
                        {% endif %}
                    </figure>
                    <div class="blog-detail">
                        <small>By Admin | August 10 2018</small>
                        <h4>{{ post.title }}</h4>
                        <div>
                            <a href="{% url 'blog_detail' post.pk %}">Read more</a><i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                        <h5>{{ post.created_at }}</h5>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row blog-row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- ################# Our Blog Ends Here ####################### -->
{% endblock %}
