{% extends 'base.html' %}

{% load static %}

{% block title %}Page Title{% endblock %}

{% block content %}


<!-- ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Our Blog</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Our Blog</li>
            </ul>
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->

<!-- ################# Our Blog Starts Here#######################--->
<!-- ################# Blog Detail Starts Here ####################### -->
<section class="blog-detail">
 <div class="container">
     <div class="row">
         <div class="col-md-8">
             <div class="blog-post">
                 <h2>{{ post.title }}</h2>
                 <small>By Admin | {{ post.created_at }}</small>
                 <figure>
                     <!-- <img src="{% static 'home/images/blog/blog_02.jpg' %}" alt=""> -->
                     {% if "placeholder" in post.image.url %}
                     <img src="{% static 'home/images/blog/blog_02.jpg' %}" alt="default-image">
                     {% else %}
                     <img src="{{ post.image.url }}" alt="{{ post.title }}">
                     {% endif %}
                 </figure>
                 <p>{{ post.content | safe }}</p>
                 <div class="share-buttons">
                     <!-- Add your share buttons here -->
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="sidebar">
                 <div class="recent-posts">
                     <h3>Recent Posts</h3>
                     <ul>
                         {% for recent_post in recent_posts %}
                         <li><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></li>
                         {% endfor %}
                     </ul>
                 </div>
                 <div class="categories">
                     <h3>Categories</h3>
                     <ul>
                         {% for category in categories %}
                         <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                         {% endfor %}
                     </ul>
                 </div>
                 <!-- Add more sidebar content if needed -->
             </div>
         </div>
     </div>
 </div>
</section>
<br><br>

<!-- ################# Blog Detail Ends Here ####################### -->

<!-- ################# Footer Starts Here ####################### -->
{% endblock %}