{% extends 'base.html' %}

{% load static %}

{% block title %}Page Title{% endblock %}

{% block content %}



<!-- ################# Waitlist Success #######################--->
<br>
<section class="blog-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>Thank You!</h1>
                    <p>You have successfully joined the waitlist.</p>
            </div>
        </div>
    </div>
</section>
<br><br>

<!-- ################# Footer Starts Here ####################### -->
{% endblock %}